-var imgSrc = recipe.imgUrl;
case recipe.imgHeader
    when true
        div.header
            img(src=imgSrc, alt="recipe")
            h1= recipe.title
            
    default
        div.header
            h1= recipe.title